<style media="screen">
    .designation {
        margin-top: 10px;
        display: block;
    }
    .personal-wrap{
        text-align: center;
    }
    .check-wrap {
        padding: 0px 30px;
    }

    .check-btn {
        margin-top: 15px;
        border: 0;
        border-radius: 0;
        background-color: #8e44ad;
        font-weight: 300;
        border: 0;
        transition: all .3s;
    }
</style>

<div class="col-md-12 box widget-border box-right">
    <div class="col-md-8 col-md-offset-2 personal-wrap">
        <img src="__ROOT__/Avatar/{$userinfo.stu_img}" alt="..." class="img-circle img-thumbnail">
        <h3>{$userinfo.nickname}<small class="designation">{$userinfo.class}</small></h3>

    </div>
</div>
