<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>ACM报名管理系统</title>
    <css href="__ROOT__/Public/Bootstrap/css/bootstrap.min.css" />
    <css href="__ROOT__/Public/Css/base.css" />
    <css href="__ROOT__/Public/Css/user_index.css" />
    <js href="__ROOT__/Public/js/jquery.min.js" />

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/jquery.Jcrop.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Js/uploadify-v3.1/uploadify.css" media="all">
    <link rel="stylesheet" href="__ROOT__/Public/fontawesome/css/font-awesome.min.css">

    <style media="screen">
        body {
            background-repeat: repeat;
            background-position: center;
            background-size: 1500px;
            background-image: url('__ROOT__/Public/Images/blue-circles.svg');
        }
    </style>
</head>

<body>
