<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ACM报名管理系统</title>
    <css href="__ROOT__/Public/Bootstrap/css/bootstrap.min.css" />
    <css href="__ROOT__/Public/Css/base.css" />
    <js href="__ROOT__/Public/Js/jquery.min.js" />
    <link rel="stylesheet" href="__ROOT__/Public/Css/admin_index.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="__ROOT__/Public/fontawesome/css/font-awesome.min.css">
    <style media="screen">
        html {
            width: 100%;
            height: 100%;
        }
        body {
            width: 100%;
            height: 100%;
            background-color: #f2f2f2;
            /*background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);*/
        }
    </style>
</head>

<body>
