<include file="Public/header" />
<include file="Public/navbar" />
<div class="container-fluid">
    <div class="row">
        <include file="Public/left" />
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <ol class="breadcrumb navroot">
                <li><a href="{:U('Index/index')}">主页</a></li>
                <li class="active">密码修改</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>更改密码</strong></h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="inputPassword1" class="col-sm-2 control-label">旧密码</label>
                            <div class="col-sm-2">
                                <input type="password" class="form-control" id="inputPassword1" placeholder="Password" maxlength="18" name="oldPassword1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-2">
                                <input type="password" class="form-control" id="inputPassword2" placeholder="Password" maxlength="18" name="newPassword2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-2">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" maxlength="18" name="newPassword2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />
