<style media="screen">
    #news {
        margin-top: 30px;
    }

    .news .news-content {
        margin-left: 5px;
        height: 120px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
    }
    .check-wrap{
        padding: 0px 30px;
    }
    .check-btn {
        margin-top: 15px;
        border: 0;
        border-radius: 0;
        background-color: #52b6ec;
        font-weight: 300;
        border: 0;
        transition: all .3s;
    }
</style>

<div class="col-md-12 box" id="news">
    <p class="text-uppercase text-info">
        <h4>通知</h4></p>
    <div class="row news-content">
        <p style="text-indent:2em">最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息</p>
    </div>
    <div class="row">
        <div class="col-md-12 check-wrap">
            <button type="button" class="btn btn-primary check-btn col-md-12">查看</button>
        </div>
    </div>
</div>
